@model BiletSinema.Models.Filmler

@{
    ViewData["Title"] = "Film Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>🗑️ Film Sil</h2>

<div class="alert alert-danger">
    <strong>@Model.Adi</strong> silinecek. Emin misiniz?
</div>

<table class="table">
    <tr>
        <th>Adı</th>
        <td>@Model.Adi</td>
    </tr>
    <tr>
        <th>Tarih</th>
        <td>@Model.Tarihi.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Puan</th>
        <td>@Model.Puan</td>
    </tr>
</table>

<form method="post">

    <input type="hidden" name="FilmNo" value="@Model.FilmNo" />

    <button class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>

</form>