@page
@model gardrobum.Pages.Kiyafetler.IndexModel

<h2 class="mb-3">Kıyafetlerim</h2>


<div class="card-pro mb-3">

    <form method="get">

        <div class="row g-2 align-items-center">

           
            <div class="col-md-3">
                <select name="alan" class="form-select select-pro">
                    <option value="UrunAdi">Ürün Adı</option>
                    <option value="Tur">Tür</option>
                    <option value="Renk">Renk</option>
                    <option value="Beden">Beden</option>
                    <option value="Marka">Marka</option>
                </select>
            </div>

         
            <div class="col-md-6">
                <input type="text"
                       name="q"
                       class="form-control btn-light-pro"
                       placeholder="Yaz ve Enter'a bas..."
                       autocomplete="off" />
            </div>

          
            <div class="col-md-3">
                <button class="btn btn-pro w-100">
                    🔍 Ara
                </button>
            </div>

        </div>

    </form>

</div>


<div class="card-pro mb-3 d-flex justify-content-between align-items-center">

    <div>
        <h5 class="mb-0" style="color:white;">
          
        </h5>
        <small style="color:#9ca3af;">
            Tüm ürünleri buradan yönetebilirsin
        </small>
    </div>

    <a class="btn btn-pro btn-lg px-4 py-2"
       href="/Kiyafetler/Create">
        ➕ Kıyafet Ekle
    </a>

</div>


<div class="card-pro">

    <table class="table table-dark table-hover align-middle">

        <thead>
            <tr>
                <th>ID</th>
                <th>Ürün</th>
                <th>Tür</th>
                <th>Renk</th>
                <th>Beden</th>
                <th>Marka</th>
                <th>Tarih</th>
                <th>İşlem</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.liste)
            {
                <tr>
                    <td>@item.ID</td>
                    <td><b>@item.UrunAdi</b></td>
                    <td>@item.Tur</td>
                    <td>@item.Renk</td>
                    <td>@item.Beden</td>
                    <td>@item.Marka</td>
                    <td>@item.EklenmeTarihi</td>

                    <td>

                        <a class="btn btn-sm btn-light-pro px-3" 
                           href="/Kiyafetler/Edit?ID=@item.ID">
                            ✏️ Düzenle
                        </a>

                        <a class="btn btn-sm btn-light-pro px-3"
                           href="/Kiyafetler/Delete?ID=@item.ID"
                           onclick="return confirm('Silmek istediğine emin misin?');">
                            🗑 Sil
                        </a>

                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>