@page
@model gardrobum.Pages.Takilar.EditModel

<h2>✏️ Takı Güncelle</h2>

<form method="post">

    <input type="hidden" name="ID" value="@Model.t.ID" />

    <input class="form-control mb-2"
           name="TakıAdi"
           value="@Model.t.TakıAdi" />

    <select name="Tur" class="form-select mb-2">
        <option value="Kolye">Kolye</option>
        <option value="Bileklik">Bileklik</option>
        <option value="Yüzük">Yüzük</option>
        <option value="Küpe">Küpe</option>
    </select>

    <input class="form-control mb-2" name="Renk" value="@Model.t.Renk" />
    <input class="form-control mb-2" name="Marka" value="@Model.t.Marka" />
    <input class="form-control mb-2" name="Fiyat" value="@Model.t.Fiyat" />
    <input class="form-control mb-2" name="EklenmeTarihi" value="@Model.t.EklenmeTarihi" />

    <button type="submit" class="btn btn-primary w-100">
        Güncelle
    </button>

</form>